<% provide(:title, "Authenticate") %>

<div role="main" id="main-container" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div id='project-text'>
          <p>The lending institution will be recorded as <span class="lending-org-name"><%= @lending_org_name %></span>.
          If this is not correct you can return to the <%= link_to 'Home Page', root_url %> to re-select.</p>

          <p>To authenticate, please click on your home institution below
          and log-in using your institution user ID and password. A
          successful result will return your name, entitlement, and
          personal identifier number.</p>
        </div>

        <ul id="organization_list">
          <% @org_list.each do |org| %>
            <% org_code = org['code'] %>
            <% org_name = org['name'] %>

            <%= content_tag(:li, class: "", id: org_code + "_entry") do %>
              <% if org_code == @lending_org_code %>
                <%# No link for organization that is doing the lending. %>
                <span class="disabled-link"><%= org_name %></span>
              <% else %>
                <%= link_to org_name, initiator_path(org_code: org_code) %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
