<% provide(:title, "User Attributes") %>

<div role="main" id="main-container" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <table class="table attributes">
          <tr>
            <th>Name:</th>
            <td><%= @name %></td>
          </tr>
          <tr>
            <th>Affiliation:</th>
            <td><%= @affiliation %></td>
          </tr>
          <tr>
            <th>Principal Name:</th>
            <td><%= @principal_name %></td>
          </tr>
          <tr>
            <th>Identifier:</th>
            <td><%= @identifier %></td>
          </tr>
        </table>
        
        <section id="authentication-message">
          <p>
            AUTHENTICATION SUCCESSFUL
          </p>
          <p>
            Users eligible for borrowing will see “member@(institution).edu” in
            the Affiliation category
          <p>
          <p>
            For security purposes please close your browser to exit the system
          <p>
        </section>

        <% if Rails.env.development? %>
          <div class="panel panel-warning">
            <div class="panel-heading">

              <h2 class="panel-title">Debugging information (development only)</h2>
            </div>
            <div class="panel-body">
              <h3>Environment</h3>

              <ul>
                <% @env.each do |key, value| %>
                  <li><%= key %>: <%= value %></li> 
                <% end %>
              </ul>

              <h3>Parameters</h3>

              <ul>
                <% @params.each do |key, value| %>
                  <li><%= key %>: <%= value %></li> 
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
