<% provide(:title, "User Attributes") %>

<div role="main" id="main-container" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <table class="table attributes">
          <tr>
            <th>Name:</th>
            <td><%= @name %></td>
          </tr>
          <tr>
            <th>Affiliation:</th>
            <td><%= @affiliation %></td>
          </tr>
          <tr>
            <th>Principal Name:</th>
            <td><%= @principal_name %></td>
          </tr>
          <tr>
            <th>Identifier:</th>
            <td><%= @identifier %></td>
          </tr>
        </table>
        
        <div class="panel panel-danger">
          <div class="panel-heading">
               Important!
          </div>
          <div class="panel-body">
            To protect the user's credentials, be sure to
            <em>exit the browser</em> when done viewing this page.
          </div>
        </div>

        <% if Rails.env.development? %>
          <div class="panel panel-warning">
            <div class="panel-heading">

              <h2 class="panel-title">Debugging information (development only)</h2>
            </div>
            <div class="panel-body">
              <h3>Environment</h3>

              <ul>
                <% @env.each do |key, value| %>
                  <li><%= key %>: <%= value %></li> 
                <% end %>
              </ul>

              <h3>Parameters</h3>

              <ul>
                <% @params.each do |key, value| %>
                  <li><%= key %>: <%= value %></li> 
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
