<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Big Ten Academic Alliance Reciprocal Borrowing</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/vnd.microsoft.icon" href="//www.btaa.org/Images/favicon.ico"/>
  </head>
  <body>
    <%= umd_lib_environment_banner %>

    <%= render 'layouts/header' %>
    
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
