<!DOCTYPE html>
<html>
  <head>
    <%# UMD Customization %>
    <title><%= yield(:title) %> | Big Ten Academic Alliance Reciprocal Borrowing</title>
    <%# End UMD Customization %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# UMD Customization %>
    <%# Skip progressive web app settings %>
    <%#
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Reciprocal Borrowing">
    <meta name="mobile-web-app-capable" content="yes">
    %>
    <%# End UMD Customization %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# UMD Customization %>
    <%#
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    %>
    <link rel="icon" type="image/vnd.microsoft.icon" href="//www.btaa.org/Images/favicon.ico"/>
    <%# End UMD Customization %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# UMD Customization %>
    <%= umd_lib_environment_banner %>

    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%# End UMD Customization %>
  </body>
</html>
